body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 15px; /* Add horizontal padding for small screens */
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
  .container {
    max-width: 90%; /* Adjust container width for smaller screens */
  }
}
